:root{
    /* color */
    --color-white:#fafafa;
    --color-light-green:#39796b;
    --color-dark-green:#00251a;
    --color-green:#004d40;
    --color-gray:#d7dbdb;
    --color-dark-gray:#a6a9a9;
    --color-black:#000000;
    /* font size */
    --font-large:48px;
    --font-medium:28px;
    --font-regular: 18px;
    --font-small:16px;
    --font-micro:14px
    /* font weight */
    --weight-bold:700;
    --weight-semi-bold:600;
    --weight-regular:400;
    --weight-light:200;
    /* size */
    /* border */
    --border-radius:6px;
  /* Animation */
    --animation-duration:300ms;

    

}

/* Universal Tag */
*{
    box-sizing: border-box;
    font-family: 'Courier Prime';
}

/* Typography */
h1{
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin:16px 0px;
}
h2{
    font-size:var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color:var(--color-black);
    margin: 8px 0px;
}

h3{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color:var(--color-black);
    margin: 8px 0px;
}

p{
    font-size: var(--font-regular);
    font-weight: var(--font-regular);
    color: var(--color-black);
    margin: 4px 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

a{
text-decoration: none;
color: var(--color-white);
}

button{
    cursor: pointer;
    border: none;
    outline:none;
    background-color: transparent;
}

body{
    margin:0;
    cursor: default;
    
}




/* NavBar */

#navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-dark-green);
    color:var(--color-white);
    align-items: center;
}

.navbar__menu{
    display: flex;
}

.navbar__menu__icon{
    padding: 8px 12px;
    margin: 0px 4px;
    font-size: var(--font-regular);
    cursor: pointer;
    
}
.navbar__logo{
    padding-top: 20px;
}


.navbar__menu__icon:hover{
/* border: 1px var(--color-white);
border-style: dotted;
border-radius: var(--border-radius); */
text-decoration: green wavy underline;
font-style:italic;
}


/* Home */
#home{
    background: url('Images/Texture4-1.jpeg')center/cover;
    padding:40px;
    text-align: center;
   
}


.hoem__avatar{
    border-radius: 50%;
    width:250px;
    border: 10px var(--color-green) solid;

}

.home__title{
     color:var(--color-dark-green);
     text-shadow: 4px 1px 2px var(--color-white);
     
}

.home__description{
     color:var(--color-dark-green);
     
}

.home__button{
    font-weight:var(--weight-semi-bold);
    margin: 24px;
    padding:10px 20px;
    background-color: var(--color-green);
    color: var(--color-white);
    border-radius: 30px;
}

.home__button:hover{
    font-style: italic;
    background-color:var(--color-light-green)
}

/* About */

.section{
    text-align: center;
    padding:50px;
    margin:auto;
    max-width: 1200px;
    
}

/* Work */
.about__major{
    display:flex;

    justify-content: space-between;
    margin: 80px 0px 80px 0px; 
}

.major__icon{
    width: 150px;
    height:150px;
    font-size: 60px;
    line-height: 150px;
    margin: auto;
    margin-bottom: 20px;
    color:var(--color-green);
    border: 4px solid var(--color-dark-green);
    border-radius: 50%;
    transition: border-width 300ms linear;
    
}

.major__icon i {
    transition: all 300ms ease;
}
.major__icon i:hover{
    color:var(--color-light-green);
    transform: scale(1.5);
    
}


.major__title{
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.job{
    display:flex;
    align-items: center;
    size:var(--font-regular)
}


.job__name{
    margin:0px 20px 0px 20px;
    text-align: left;
}

.work__btn{
font-size: var(--font-regular);
padding: 15px; 
border-radius:15px;
}

.work__btn.active,
.work__btn:hover{
    color: var(--color-dark-green);
    text-decoration: wavy underline;
    
    /* border: 2px solid var(--color-dark-green);
    border-radius: 20px; */
}


.work__btn.active .category__counts,
.work__btn:hover .category__counts{
    opacity:1;
    top:0;
}


.category__counts{

    /* span 은 글짜 크기에 딱 맞게 형성되기 때문에 display inline-block 으로 변경해줘야함 */
    line-height: 30px; 
    margin-left: 5px;
    background-color: orange;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: relative;
    top:-20px;
    left:4px;
    opacity:0;
    transition: all var(--animation-duration) ease-in;

    
}

.work__projects{
    display: flex;
    justify-content:center;
    
}

.project{
    position: relative;
    width:400px;
    height:300px;
    margin: 5px;
    background: white;
}

.project__img{
    max-width:100%;
    max-height:100%;
}

.project__description{
    position:absolute;
    top:0;
    left:0;
    background-color:black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: all var(--animation-duration) ease-in;
    transform: translateY(10px);

}

.project:hover .project__description{
    opacity: 0.8;
    transform: translateY(0px);
}


/* Testimonials */
#testimonials{
    background-color:var(--color-gray);
    padding-top:30px;
    padding-left: 20px;
}

.testimonials__avatar{
    width: 150px;
    height: 150px;
    border-radius:50%;
}


.testimonials__speech__bubble{
     background-color: var(--color-white)
     border-radius:var(--border-radius)
}